.git
.gitignore
.devcontainer
docker/opensearch
docker-compose.yml
docker/api/Dockerfile
README.md
**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
.venv
venv
.env
.idea
.vscode
